 .slick-dots li button::before{
    color: black;
    /* font-size: 20px; */
    margin-top: 10px;
  }
  
  .slick-dots li.slick-active button::before{
    color: gray;
  }
  
  
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
      
  .slick-container{
    margin:7% 10%;
  }
  
  .slick-slider{
    padding: 15px;
  }
  
  .card{
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  
  .card-body{
    text-align: center;
    color: black;
  }
  
  .card-img-top{
    height: 400px;
    width: 100%;
  }
  
  .card-top-part{
   display: flex;
    justify-content: center; 
  }
  
  .testimonial-heading{
    text-align: center;
    margin-bottom: 15px;
  }

  
  