.navbar {
    box-shadow: 1px 1px 15px 1px black;
    margin:0 10px;
}

.name{
    margin-left: 5px;
    padding:5px 0 10px 10px;
    font-size: 1.8rem;
}

@media screen and (max-width: 340px) {
    .name{
        margin-left: 0;
        padding:5px 0 0 10px;
        font-size: 1.4rem;
    }
     
}



.card {
    padding: 0;
    color: black;
    margin: 10px 20px;
}

.nav-link{
    font-size: 1.1rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 20px;
    font-weight: 600;
   }


.navbar-brand{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}