.landing-page-main-container{
    margin: 50px 7%;
}

.landing-page-top{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(purple, #3E54AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 70px;
    box-shadow: 1px 1px 10px 10px #fff;

}

.landing-page-img-user{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: 10%;
}

.landing-page-img-owner{
  width: 300px;
  height: 300px;
  border-radius: 10%;
  margin: 10%;
}

.landing-page-bottom-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-btn{
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: black;
    font-size: large;
    font-weight: 600;
    border: 2px solid;
}