/* 
.landing-page-main-container{
    margin: 50px 7%;
}

.landing-page-top{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(purple, #3E54AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 70px;
    box-shadow: 1px 1px 10px 10px #fff;

}

.landing-page-img-user{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: 10%;
}

.landing-page-img-owner{
  width: 300px;
  height: 300px;
  border-radius: 10%;
  margin: 10%;
}

.landing-page-bottom-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-btn{
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: black;
    font-size: large;
    font-weight: 600;
    border: 2px solid;
} 
*/

.landing-container {
  background-color: #e6d3a3;
  height: 100vh;
  font-family: Baskerville, sans-serif;
  padding: 1rem;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.landing-header {
  font-family: "sans-serif";
  display: flex;
  justify-content: space-between;
  color: #dd1c1a;
}

.tagline {
  font-size: 70px;
  font-family: "Poppins";
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tagline-p {
  margin: 0;
  line-height: 90px;
}

.exp {
  font-family: "Dancing Script";
  font-weight: bold;
}

.img-block {
  padding: 0;
}

.dosa-img {
  width: 100%;
  right: 0;
}

.section-block {
  width: 100%;
  margin: 5% 0;
}

.action-buttons {
  height: 77px;
}

.btn-menu {
  margin-right: 15px;
}
