.details-main-container{
    margin: 5% 7%;
}

.details-image{
    height: 500px;
    width: 300px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

.description-container{
    padding: 10px;
    font-size: larger;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}